.middle-section {
    flex: 0 0 55%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    
}
.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .bottom-section{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-between;
  
  }
.profile-box , .notfication-box{
    text-align: center;
    flex: 1;
    background-color: #fdfdfd;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 1px 2px 2px 2px rgba(20,20,20,0.4);
    border-radius: 10px;
  }
  .detailed-box {
    text-align: center;
    background-color: #fdfdfd;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 2px 2px rgba(20,20,20,0.4);
    border-radius: 10px;
  }
  .profile-box:last-child {
    margin-right: 0;
  }
  .punch-in-btn{
    padding: 3px;
    color: red;
    border:1px solid rgb(252, 60, 69);
    border-radius: 5px;
    
  }
  .request-status input[type="text"]{
		border:1px solid #c9ccce;
	    border-radius:25px;
		padding:6px;
		background:#f2f2f2;
		color:white;
	  }
    ::placeholder{
      text-align: center;
    }
    input[name="Packup"]
    {
      color: red;
      border:2px solid rgb(252, 60, 69);
      border-radius: 5px;
   margin-left:500px;
   margin-bottom:30px;
      padding:15px;
      width:110px;
    }
  input[type="button"]
  {
    
    color: red;
    border:1px solid rgb(252, 60, 69);
    border-radius: 5px;
    margin-top:90px;
    padding:3px;
    width:90px;
    
  }
 

  .request-status table{
    color: black;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .request-status table tr{
    padding: 10%;
  }
  .request-status table tr th{
    height: 48px;
  }
  .request-filter{
    width: 100%;
  }
  .request-filter table tr th{
     padding: 5%;

  }
  /* Styles for Pie Chart */
  .pie-chart-container {
    position: relative;
    margin-left: 20%;
    width: 200px;
    height: 180px;
  }
  .percentage-label {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }
  @media only screen and (max-width: 767px) {
    .middle-section {
      flex: 1 1 100%;
      margin-bottom: 20px;
    }
    .top-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
      }
    .profile-box {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
    input[name="Packup"]
    {
      margin-top:20px;
   margin-left:80px;
   margin-bottom:10px;
      padding:20px;
      width:210px;
    }
  }